@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.inputContainer {
    display: flex;
}

.categories,
.details {
    margin-top: 12px;
}

.selected {
    color:#eb4b4b
}